.Home-container{
    background: url('../images/background.jpg');
    width: 100%;
    text-align: center;
}
.Home-contents{
    padding-top: 70px;
}
.Home-movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0px auto;
    text-align: center;
}